<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Jurídico{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='logar.css') }}">
</head>
<body>
    <div class="container">
        {% block content %}
        <!-- O conteúdo das páginas filhas vai aparecer aqui -->
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
